*{
    margin: 0;
    padding: 0;
}
html{
    --one: #027373;
    --two: #038C7F;
    --three: #ADD9D1;
    --four: #D95252;
    --five: #0D0D0D;
}
body{
    background: rgba(13,13,13,1);
    overflow-x: hidden;
}

nav{
    height: 25vh;
    width: 100vw;
    padding: 5px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}
hr{
    margin-bottom: 5vh;
}
#nav-logo{
    background: none;
    height: 25vh;
    padding: 0 10px 10px 10px;
}
#nav-name{
    display: flex;
    align-items: center;
    color: antiquewhite;
    background: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
}
#resposta{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.info{
    width: 300px;
    padding: 30px;
    margin: 20px;
    background-color:rgba(2,115,115,0.35);
    border: 6px double black;
    border-radius: 0.5rem;
}

.info:hover{
    transform: scale(1.1);
}

.card-img{ 
    margin-bottom: 10px;
    border: 2px dashed black;
}
.card-title, .card-name{
    display: flex;
    justify-content: center;
    align-content: center;
    color: antiquewhite;
}
.card-subtitle{
    text-align: left;
    font-size: 20px;
    color: antiquewhite;
}

#pages{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 10;
}
#pages a button{
    background-color: var(--three);
    padding: 15px;
    border-radius: 0.5rem;
    margin: 1vw;
    width: max-content;
    cursor: pointer ;

}
#pages a button:hover{
    border: 3px double black;
    background-color: var(--two);
}
button:active{
    transform: translateY(-3px);
}



