*{
    margin: 0;
    padding: 0;
}
html{
    --one: #E9EFC0;
    --two: #B4E197;
    --three: #83BD75;
    --four: #4E944F;
}
body{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);;
}

nav{
    background-color: #006241;
    height: 10vh;
    padding: 5px;
    display: grid;
    grid-template-columns: 20vh auto;
}
#nav-logo{
    background: none;
    height: 10vh;
    padding: 0 10px 10px 10px;
}
#nav-name{
    color: aliceblue;
    background: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: justify;
    padding: 10px;
}
#resposta{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding-inline-start: 0;
}
.info{
    width: 300px;
    padding: 30px;
    margin: 20px;
    background-color: var(--one);
    border: 6px double black;
    border-radius: 0.5rem;
}

.card-img{ 
    margin-bottom: 10px;
    border: 2px dashed black;
}
.card-title, .card-name{
    display: flex;
    justify-content: center;
    align-content: center;
}
.card-subtitle{
    text-align: left;
    font-size: 20px;
}